#usermenu {
    width: 150px;
    border: 1px solid black;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.openmenu {
    height: 100px;
}

.closemenu{
    height: 0;
}

.user-menu-header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 0;
}

.user-menu-item {
    text-indent: 5px;
}

.user-menu-item:hover{
    cursor: pointer;
    background-color: grey;
}
